.bg--red        { background-color: $red; }
.bg--orange     { background-color: $orange; }
.bg--blue       { background-color: $blue; }
.bg--green      { background-color: $green; }
.bg--white      { background-color: $white; }
.bg--light-gray { background-color: $light-gray; }
.bg--mid-gray   { background-color: $mid-gray; }
.bg--dark-gray  { background-color: $dark-gray; }
.bg--off-white  { background-color: $off-white; }

.red        { color: $red; }
.orange     { color: $orange; }
.blue       { color: $blue; }
.green      { color: $green; }
.white      { color: $white; }
.light-gray { color: $light-gray; }
.mid-gray   { color: $mid-gray; }
.dark-gray  { color: $dark-gray; }
.off-white  { color: $off-white; }

.border--red        { border-color: $red; }
.border--orange     { border-color: $orange; }
.border--blue       { border-color: $blue; }
.border--green      { border-color: $green; }
.border--white      { border-color: $white; }
.border--light-gray { border-color: $light-gray; }
.border--mid-gray   { border-color: $mid-gray; }
.border--dark-gray  { border-color: $dark-gray; }
.border--off-white  { border-color: $off-white; }
