$viewport-m: 32rem;
$viewport-l: 48rem;

$font-size: 16px;
$font-weight: 400;
$font-color: #333;

$font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace-font-family: "Monaco", "Lucida Console", Courier, monospace;
