@import "../node_modules/gray/scss/variables";

$viewport-m: 32rem;
$viewport-l: 48rem;

$font-size: 12px;
$font-size-m: 15px;
$font-size-l: 16px;
$font-weight: 400;
$font-color: #333;

$font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace-font-family: "Monaco", "Lucida Console", Courier, monospace;

$red: #e74c3c;
$orange: #f39c12;
$blue: #3498db;
$green: #25ba84;
$off-white: $gray-light-4;
$light-gray: $gray-light-0;
$mid-gray: $gray-mid-6;
$dark-gray: $gray-dark-9;
$white: #fff;

$link-color: $blue;
