{
    "rules": {
        "block-no-empty": true,
        "color-no-invalid-hex": true,
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "function-comma-space-after": "always",
        "function-url-quotes": "always",
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-no-vendor-prefix": true,
        "max-empty-lines": 5,
        "number-leading-zero": "never",
        "number-no-trailing-zeros": true,
        "property-no-vendor-prefix": true,
        "declaration-block-no-duplicate-properties": true,
        "block-opening-brace-newline-after": "always-multi-line",
        "block-closing-brace-newline-before": "always-multi-line",
        "declaration-block-trailing-semicolon": "always",
        "selector-list-comma-space-before": "never",
        "selector-list-comma-newline-after": "always-multi-line",
        "string-quotes": "double",
        "value-no-vendor-prefix": true,
        "max-nesting-depth": [3, { ignore: ["blockless-at-rules"] }]
    }
}