*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
 }

html, 
body {
  height: 100%;
  margin: 0;
}

.clearfix { @include clearfix; }

.pull-left   { float: left;   }
.pull-right  { float: right;  }
.pull-center { float: center; }
.pull-none   { float: none;   }

.center { margin: auto auto; }

.center-children { @include center-children; }
.right-children  { @include right-children;  }
.left-children   { @include left-children;   }

/* Room
   Classes to add margin.
---------------------------------------------------------------------------- */

.room-sm        { margin: $margin/2;        }
.room-sm-top    { margin-top: $margin/2;    }
.room-sm-left   { margin-left: $margin/2;   }
.room-sm-right  { margin-right: $margin/2;  }
.room-sm-bottom { margin-bottom: $margin/2; }
.room-sm-x      { margin: 0 $margin/2;      }
.room-sm-y      { margin: $margin/2 0;      }

.room        { margin: $margin;        }
.room-top    { margin-top: $margin;    }
.room-left   { margin-left: $margin;   }
.room-right  { margin-right: $margin;  }
.room-bottom { margin-bottom: $margin; }
.room-x      { margin: 0 $margin;      }
.room-y      { margin: $margin 0;      }

.room-lg        { margin: $margin*2;        }
.room-lg-top    { margin-top: $margin*2;    }
.room-lg-left   { margin-left: $margin*2;   }
.room-lg-right  { margin-right: $margin*2;  }
.room-lg-bottom { margin-bottom: $margin*2; }
.room-lg-x      { margin: 0 $margin*2;      }
.room-lg-y      { margin: $margin*2 0;      }

.no-room { margin: 0; }

/* Cushion
   Classes to add padding.
---------------------------------------------------------------------------- */

.cushion-sm        { padding: $padding/2;        }
.cushion-sm-top    { padding-top: $padding/2;    }
.cushion-sm-left   { padding-left: $padding/2;   }
.cushion-sm-right  { padding-right: $padding/2;  }
.cushion-sm-bottom { padding-bottom: $padding/2; }
.cushion-sm-x      { padding: 0 $padding/2;      }
.cushion-sm-y      { padding: $padding/2 0;      }

.cushion        { padding: $padding;        }
.cushion-top    { padding-top: $padding;    }
.cushion-left   { padding-left: $padding;   }
.cushion-right  { padding-right: $padding;  }
.cushion-bottom { padding-bottom: $padding; }
.cushion-x      { padding: 0 $padding;      }
.cushion-y      { padding: $padding 0;      }

.cushion-lg        { padding: $padding*2;        }
.cushion-lg-top    { padding-top: $padding*2;    }
.cushion-lg-left   { padding-left: $padding*2;   }
.cushion-lg-right  { padding-right: $padding*2;  }
.cushion-lg-bottom { padding-bottom: $padding*2; }
.cushion-lg-x      { padding: 0 $padding*2;      }
.cushion-lg-y      { padding: $padding*2 0;      }

.no-cushion { padding: 0; }

/* Background Colors
   Classes to add pretty background colors.
   Courtesy of clrs.cc
---------------------------------------------------------------------------- */

.bg-navy    { background-color: $navy;    }
.bg-blue    { background-color: $blue;    }
.bg-aqua    { background-color: $aqua;    }
.bg-teal    { background-color: $teal;    }
.bg-olive   { background-color: $olive;   }
.bg-green   { background-color: $green;   }
.bg-lime    { background-color: $lime;    }
.bg-yellow  { background-color: $yellow;  }
.bg-orange  { background-color: $orange;  }
.bg-red     { background-color: $red;     }
.bg-fuchsia { background-color: $fuchsia; }
.bg-purple  { background-color: $purple;  }
.bg-maroon  { background-color: $maroon;  }
.bg-white   { background-color: $white;   }
.bg-gray    { background-color: $gray;    }
.bg-silver  { background-color: $silver;  }
.bg-black   { background-color: $black;   }

/* Font Colors
   Classes to add pretty font colors.
   Courtesy of clrs.cc
---------------------------------------------------------------------------- */

.navy    { color: $navy;    }
.blue    { color: $blue;    }
.aqua    { color: $aqua;    }
.teal    { color: $teal;    }
.olive   { color: $olive;   }
.green   { color: $green;   }
.lime    { color: $lime;    }
.yellow  { color: $yellow;  }
.orange  { color: $orange;  }
.red     { color: $red;     }
.fuchsia { color: $fuchsia; }
.purple  { color: $purple;  }
.maroon  { color: $maroon;  }
.white   { color: $white;   }
.silver  { color: $silver;  }
.gray    { color: $gray;    }
.black   { color: $black;   }

/* Links
   Make links pretty.
   Courtesy of clrs.cc
---------------------------------------------------------------------------- */

a {
  transition: color .3s ease-in-out;
}

a:link    { color: $blue;   }
a:visited { color: $purple; }
a:hover   { color: $aqua;   }
a:active  { color: $orange; }
