$margin: 20px;
$padding: 20px;

$font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$monospace-font-family: "Monaco", "Lucida Console", Courier, monospace;

$font-color: #444;
$font-weight: 400;

$header-font-weight: 200;
$header-font-family: $font-family;

$subtle: #999;
$light-gray: #d6d6d6;
$font-color: #444;

$primary-color: #27aa94;
$primary-color-hover: darken($primary-color, 5%);

/* Colors
   Courtesy of clrs.cc
---------------------------------------------------------------------------- */
$navy:    #001f3f;
$blue:    #0074d9;
$aqua:    #7fdbff;
$teal:    #39cccc;
$olive:   #3d9970;
$green:   #2ecc40;
$lime:    #01ff70;
$yellow:  #ffdc00;
$orange:  #ff851b;
$red:     #ff4136;
$maroon:  #85144b;
$fuchsia: #f012be;
$purple:  #b10dc9;
$white:   #ffffff;
$silver:  #dddddd;
$gray:    #aaaaaa;
$black:   #111111;
